@charset "UTF-8";

@media screen and (min-width: 620px) and (max-width: 992px){
     h1 { 
       text-align: center;
       font-size: 5em;
       padding: 0px;
     }

     h2 {
        text-align: center;
     }

     main > div.itens {
        display: flex;
      
    }
}